html
	head
		title Ricardo Reyes | Book
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="_css/style.css")
	body
		header
		include _menu
		div
			h1 Bienvenido al Book de <b>Ricardo Reyes</b>
			h2 Pase y tome asiento en donde guste y observe la información
			div
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven

		footer 2017




